__pycache__/
*.pyc
.env
db.sqlite3
node_module
*.pyc
.env
db.sqlite3
node_module/frontend/node_modules















^G Get Help  ^O WriteOut  ^R Read File ^Y Prev Pg   ^K Cut Text  ^C Cur Pos   
^X Exit      ^J Justify   ^W Where is  ^V Next Pg   ^U UnCut Text^T To Spell  





/frontend/node_modules
